mkContainers/noderedsvr/noderedcfg/flowsNew.json
[{"type":"tab","id":"1cacabe3.36b064","label":"test flow","_def":{"defaults":{"label":{"value":""}}}},{"id":"96dab6d0.713318","type":"amqp-server","z":"1cacabe3.36b064"," host":"p1.dcos","port":"10001","vhost":"demo-vhost","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\" name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"optio ns\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"arg s\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":" a4f9833d.954f5","type":"amqp in","z":"1cacabe3.36b064","name":"","topic":"","iotype":"4","ioname":"s1q","server":"96dab6d0.713318","x":120,"y":134,"wires":[["31b35d24.0cc 6d2"]]},{"id":"db918295.0d84c","type":"debug","z":"1cacabe3.36b064","name":"","active":true,"console":"false","complete":"payload.trace","x":1001.5,"y":373.8500061035156, "wires":[]},{"id":"38d4a00d.047f9","type":"amqp out","z":"1cacabe3.36b064","name":"","routingkey":"","iotype":"4","ioname":"chrq","server":"96dab6d0.713318","x":433,"y":9 6.15000915527344,"wires":[]},{"id":"31b35d24.0cc6d2","type":"function","z":"1cacabe3.36b064","name":"s1 service","func":"var trace = String(msg.payload.trace);\ntrace = t race.concat(\", s1 EXEC\");\nmsg.payload.trace = trace;\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":149.3000030517578,"wires":[["38d4a00d.047f9"]]},{"id":"32207a6f.26 d7c6","type":"amqp in","z":"1cacabe3.36b064","name":"","topic":"","iotype":"4","ioname":"chrq","server":"96dab6d0.713318","x":81.5,"y":273.8500061035156,"wires":[["ede6a8 40.414ac8"]]},{"id":"c56f2d98.5db2b","type":"inject","z":"1cacabe3.36b064","name":"sx to chr","topic":"","payload":"{\"org\" : \"org1\", \"service\" : \"s1\" , \"trace\" : \"s1 START\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":125,"y":69,"wires":[["38d4a00d.047f9"]]},{"id":"ede6a840.414ac8","type":"function","z":"1c acabe3.36b064","name":"restore FC","func":"var trace = String(msg.payload.trace);\ntrace = trace.concat(\", restore FC\");\nmsg.payload.trace = trace;\nreturn msg;","outp uts":1,"noerr":0,"x":161.5,"y":373.8500061035156,"wires":[["86cc44b7.632688"]]},{"id":"86cc44b7.632688","type":"switch","z":"1cacabe3.36b064","name":"select org","propert y":"payload.org","propertyType":"msg","rules":[{"t":"eq","v":"org1","vt":"str"},{"t":"eq","v":"org2","vt":"str"}],"checkall":"true","outputs":2,"x":331.5,"y":373.85000610 35156,"wires":[["3b68b2bc.eac3ae"],["80eaf366.54fb2"]]},{"id":"3b68b2bc.eac3ae","type":"switch","z":"1cacabe3.36b064","name":"org1 select service","property":"payload.ser vice","propertyType":"msg","rules":[{"t":"eq","v":"s0","vt":"str"},{"t":"eq","v":"s1","vt":"str"},{"t":"eq","v":"s2","vt":"str"}],"checkall":"true","outputs":3,"x":526,"y ":277.29998779296875,"wires":[["14e8845e.2a760c"],["117d00e2.59210f"],["cb25da9d.b25ae8"]]},{"id":"80eaf366.54fb2","type":"switch","z":"1cacabe3.36b064","name":"org2 sele ct service","property":"payload.service","propertyType":"msg","rules":[{"t":"eq","v":"s0","vt":"str"},{"t":"eq","v":"s1","vt":"str"},{"t":"eq","v":"s2","vt":"str"}],"chec kall":"true","outputs":3,"x":521.5,"y":453.8500061035156,"wires":[["db64c5ca.475cf8"],["95e7b4fe.47d908"],["6fe1d490.ac855c"]]},{"id":"14e8845e.2a760c","type":"function", "z":"1cacabe3.36b064","name":"o1 s0","func":"var trace = String(msg.payload.trace);\ntrace = trace.concat(\", o1s0 STOP\");\nmsg.payload.trace = trace;\nreturn msg;","out puts":1,"noerr":0,"x":721.5,"y":213.85000610351562,"wires":[["db918295.0d84c"]]},{"id":"117d00e2.59210f","type":"function","z":"1cacabe3.36b064","name":"o1 s1","func":"va r trace = String(msg.payload.trace);\ntrace = trace.concat(\", o1s1 STOP\");\nmsg.payload.trace = trace;\nreturn msg;","outputs":1,"noerr":0,"x":721.5,"y":273.85000610351 56,"wires":[["db918295.0d84c"]]},{"id":"cb25da9d.b25ae8","type":"function","z":"1cacabe3.36b064","name":"o1 s2","func":"var trace = String(msg.payload.trace);\ntrace = tr ace.concat(\", o1s2 STOP\");\nmsg.payload.trace = trace;\nreturn msg;","outputs":1,"noerr":0,"x":721.5,"y":333.8500061035156,"wires":[["db918295.0d84c"]]},{"id":"db64c5ca .475cf8","type":"function","z":"1cacabe3.36b064","name":"o2 s0","func":"var trace = String(msg.payload.trace);\ntrace = trace.concat(\", o2s0 STOP\");\nmsg.payload.trace = trace;\nreturn msg;","outputs":1,"noerr":0,"x":721.5,"y":393.8500061035156,"wires":[["db918295.0d84c"]]},{"id":"95e7b4fe.47d908","type":"function","z":"1cacabe3.36b064" ,"name":"o2 s1","func":"var trace = String(msg.payload.trace);\ntrace = trace.concat(\", o2s1 STOP\");\nmsg.payload.trace = trace;\nreturn msg;","outputs":1,"noerr":0,"x" :721.5,"y":453.8500061035156,"wires":[["db918295.0d84c"]]},{"id":"6fe1d490.ac855c","type":"function","z":"1cacabe3.36b064","name":"o2 s2","func":"var trace = String(msg.p ayload.trace);\ntrace = trace.concat(\", o2s2 STOP\");\nmsg.payload.trace = trace;\nreturn msg;","outputs":1,"noerr":0,"x":721.5,"y":513.8500061035156,"wires":[["db918295 .0d84c"]]}]